@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;

  --text-fluid-heading: clamp(2.2rem, 4vw + 1rem, 4rem);
  --text-fluid-subheading: clamp(1.4rem, 2vw + 1rem, 2rem);
}

@layer base {
  body {
    font-family: var(--font-inter);
    @apply text-gray-600;
  }
  h1,
  h2,
  h3 {
    font-family: var(--font-outfit);
    line-height: 1.2;
    font-weight: 600;
  }
  a {
    font-family: var(--font-outfit);
  }
}

@layer components {
  .btn {
    @apply rounded-lg px-4 py-2 flex items-center gap-2;
  }
}

@utility container {
  width: 100%;
  max-width: 1120px;
  margin-inline: auto;
  padding-inline: --spacing(4);

  @variant sm {
    padding-inline: --spacing(8);
  }

  @variant 2xl {
    width: var(--breakpoint-2xl);
  }
}
.section {
  padding-block: 5rem 1rem;
}
