@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;

  --text-fluid-heading: clamp(2.2rem, 4vw + 1rem, 4rem);
  --text-fluid-subheading: clamp(1.4rem, 2vw + 1rem, 2rem);
  --spacing-fluid-hero: clamp(9rem, 25vw + 1rem, 10rem);
}

:root {
  /* Light theme (default) */
  --color-bg: 255 255 255; /* white */
  --color-fg: 17 24 39; /* slate-900 */
  --color-surface: 243 244 246; /* slate-100 */
  --color-muted: 75 85 99; /* gray-600 */
  --color-accent: 168 85 247; /* purple-500 */
  --color-ring: 168 85 247; /* purple-500 */
}

/* Dark theme overrides when `.dark` is present on <html> */
:root.dark {
  --color-bg: 55 65 81; /* gray-700 */
  --color-fg: 255 255 255; /* white */
  --color-surface: 31 41 55; /* gray-800 */
  --color-muted: 209 213 219; /* gray-300 */
  --color-accent: 245 158 11; /* amber-500 */
  --color-ring: 245 158 11; /* amber-500 */
}

@layer base {
  body {
    font-family: var(--font-inter);
    @apply text-gray-600;
  }
  h1,
  h2,
  h3 {
    font-family: var(--font-outfit);
    line-height: 1.2;
    font-weight: 600;
  }
  a {
    font-family: var(--font-outfit);
  }
}

@layer components {
  .btn {
    @apply flex items-center gap-2 rounded-lg px-4 py-2;
  }

  .hero-ring {
    @apply absolute inset-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-2 border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}

@utility container {
  width: 100%;
  max-width: 1120px;
  margin-inline: auto;
  padding-inline: --spacing(4);

  @variant sm {
    padding-inline: --spacing(8);
  }

  @variant 2xl {
    width: var(--breakpoint-2xl);
  }
}
.section {
  padding-block: 5rem 1rem;
}
